.AssistantDialog {
    max-width: 100svw;
    max-height: 100svh;
}

@media (min-width: 720px) {
    .AssistantDialog {
        width: 40rem;
        left: calc(50% - 20rem);
    }
}

@media (min-width: 512px) and (max-width: 720px) {
    .AssistantDialog {
        width: 32rem;
        left: calc(50% - 16rem);
    }
}

@media (max-width: 512px) {
    .AssistantDialog {
        width: 100svw;
        left: 0;
    }
}

@media (min-height: 896px) {
    .AssistantDialog {
        height: 40rem;
        top: calc(50% - 20rem);
    }
}

@media (min-height: 512px) and (max-height: 896px) {
    .AssistantDialog {
        height: 32rem;
        top: calc(50% - 16rem);
    }
}

/* On small screens, display the dialog full screen */
@media (max-height: 512px) or (max-width: 512px) {
    .AssistantDialog {
        height: 100svh;
        top: 0;
    }
}
