# System
.DS_Store

# Enonic
.enonic

# IDEA
*.iml
*.ipr
*.iws
.idea/
.idea_modules/

# Enonic
.enonic

# Build
build/
dist/
out/
coverage/
bin/

# Node
node_modules/

# Configs
.eslintcache
tsconfig.tsbuildinfo
package-lock.json
.gradle/

tmp.*
